@import "../../utils/styles/variables.scss";
@import "../../utils/styles/mixin.scss";

.a-propos {

  .me__contacter{
    display: flex;
    justify-content: center;
    margin-top: 40px;

 

    .btn{
      background-image: linear-gradient(120deg, $Main700 0%, $Main400 100%);
      padding: 10px 20px;
      border: none;
      color: white;
      border-radius: 5px;
      font-weight: 400;
      text-decoration: none;
      @media screen and (max-width: 765px) {       
        height: 50px;
        width: 60%;
      }
    }
  }
  

  .placeholder {
    display: flex;
    gap: 30px;

    @media screen and (max-width: 765px) {
      flex-direction: column;
      align-items: center;
    }

    img {
      width: 45%;
      object-fit: contain;

      @media screen and (max-width: 765px) {
        order: 1;
      width: 100%;
        
      }
    }

    p {
      text-align: justify;
      line-height: 30px;
    }
  }
}


// .ReactModal__Overlay,.ReactModal__Overlay--after-open{
//   z-index: 30;
//   background-color: rgba($Main800, 0.8)!important;
// }

// .ReactModal__Content , .ReactModal__Content--after-open{
//   height: fit-content;
//   top: 14% !important;
//   padding: 30px !important;
// }