@import "../../utils/styles/variables.scss";
@import "../../utils/styles/mixin.scss";

.a-propos {

  .placeholder {
    display: flex;
    gap: 30px;

    img {
      width: 45%;
      object-fit: contain;
    }

    p {
      text-align: justify;
      line-height: 30px;
    }
  }
}
