@import "../../utils/styles/variables.scss";
@import "../../utils/styles/mixin.scss";

.contact {
    * {
        padding: 0;
        margin: 0;
    }


    .contact__body {
        display: flex;
        justify-content: space-between;


        .coordonnees {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 13px;
            width: 30%;


        }
    }
}