@import "../../utils/styles/variables.scss";
@import "../../utils/styles/mixin.scss";

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: white;

  .logo {
    img {
      width: 36%;
    }
  }

  .nav__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu {
      list-style: none;
      display: flex;
      gap: 20px;
      margin: 0;
      padding: 0;

      .menu__item {
        font-weight: 400;
        @include title-hover;

        &:hover {
          color: white;
          cursor: pointer;
        }

        &--selected {
          background-size: 100% 0.2em;
        }
      }
    }
  }
}

.fade-in {
  opacity: 0;
  display: block;
  animation: fadeInHeader 1s ease-in-out forwards;
}

.fade-out {
  display: none;
}

@keyframes fadeInHeader {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}